{% extends "base.html" %}
{% load static %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; text-align: center;">
    <a class="navbar-brand" href="#" style="font-weight: bold;">My Network</a>
    <div class="collapse navbar-collapse" id="navbarNav">
       
        
    </div>
</nav>
    {% if message %}
    <div class="alert alert-primary">{{ message }}</div>
    {% endif %}
    <div class="login-container">
        <div id="login-form">
            <h2 class="centered-text">Login</h2>
            <hr>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group icon-container">
                    <!-- <img src="{% static 'network/user-16-16.png' %}" class="custom-icon"> -->
                    <input autofocus class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group icon-container">
                    <!-- <img src="{% static 'network/key.png' %}" class="custom-icon"> -->
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
            <hr>
            <p class="centered-text">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        </div>
    </div>
    <style>
        body {
            background-color: white(103, 92, 92);
            color: #0a0a08;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 10;
        }
        #login-form {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-container {
            margin-top: 100px;
            width: 300px;
        }
        .form-control {
            background-color: #cec5c5;
            color: #918a8a;
            border: none;
            width: 100%;
        }
        .form-control::placeholder {
            color: #1e1919;
        }
        .btn-primary {
            background-color: #007bff;
            border: none;
            width: 100%;
        }
        .centered-text {
            text-align: center;
        }
        .icon-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px; 
        }
        .custom-icon {
            margin-right: 10px;
        }
    </style>

{% endblock %}